@font-face {
    font-family: "VORTEX";
    src: url("../fonts/MR ROBOT.ttf");
}

.robot-text {
    font-family: 'VORTEX', 'Lucida Console';
    color: purple;
}

a:hover {
    color: bluepurple;
}

.robot-logo {
    font-family: 'VORTEX', 'Lucida Console';
    color: purple;
    font-size: 25px;
}

.robot-excerpt {
    font-size: 12px;
}

.robot-card {
    height: 125px;
}

.robot-hr {
    width: 25%;
    border-top: 3px solid purple;
}

.robot-btn {
    color: white;
    background-color: purple;
}
